
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3" style="text-align:left">
            <label>Sort Task By:</label>
          </div>
          <div class="col-md-9">
            <button type="button" class="btn btn-secondary" [disabled]="!Tasks" (click)="sortTask('Start_Date')">Start Date</button> &nbsp;
            <button type="button" class="btn btn-secondary" [disabled]="!Tasks" (click)="sortTask('End_Date')">End Date</button>&nbsp;
            <button type="button" class="btn btn-secondary" [disabled]="!Tasks" (click)="sortTask('Priority')">Priority</button>&nbsp;
            <button type="button" class="btn btn-secondary" [disabled]="!Tasks" (click)="sortTask('Status')">Completed</button>&nbsp;
          </div>
        </div>
      </div>
  </div>
 
  <br>
  <div class="row form-group">
      <div class="col-md-1">
        <label for="Task">Task:</label>
      </div>
      <div class="col-md-5">
        <input type="text" name="task" id="task" class="form-control" placeholder="Search.." name="Search"
        (input)="searchTaskByName($event.target.value)">
      </div>
      
      <div class="col-md-1">
          <label for="Task">Parent Task:</label>
        </div>
        <div class="col-md-5">
          <input type="text" name="parentTask" id="parentTask" class="form-control" placeholder="Search.." name="Search"
          (input)="searchTaskByParentTask($event.target.value)">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-1">
          <label for="Task">Priority From:</label>
        </div>
        <div class="col-md-2">
          <input type="text" name="priorityFrom" id="priorityFrom" class="form-control" [(ngModel)]="priorityFrom">
        </div>
        
        <div class="col-md-1">
            <label for="Task">Priority To:</label>
          </div>
          <div class="col-md-2">
            <input type="text" name="priorityTo" id="priorityTo" class="form-control" [(ngModel)]="priorityTo">
          </div>

          <div class="col-md-1">
              <label for="Task">Start Date:</label>
            </div>
            <div class="col-md-3">
              <input type="text" name="startDate" id="startDate" class="form-control" placeholder="Search.." 
              name="Search" aria-describedby="startDate"
              ngbDatepicker #startDatePicker="ngbDatepicker" (focus)="startDatePicker.toggle()" [(ngModel)]="startDate">
            </div>
            <div class="col-md-1">
                <label for="Task">End Date:</label>
              </div>
              <div class="col-md-3">
                <input type="text" name="endDate" id="endDate" class="form-control" placeholder="Search.." 
                name="Search" aria-describedby="endDate"
                ngbDatepicker #endDatePicker="ngbDatepicker" (focus)="endDatePicker.toggle()" [(ngModel)]="endDate">
              </div>
              <button type="button" class="btn btn-secondary" [disabled]="!Tasks" (click)="searchItems()">Search</button>&nbsp;
      </div>
    
  <hr style="width: 100%;" class="hrListItem" />
  
  <div *ngIf="Tasks && Tasks.length>0" class="col-md-12">
    <table *ngFor="let task of Tasks" class="table table-borderless taskTable">
      <thead>
        <td style="width: 25%">Task</td>
        <td style="width: 25%">Parent</td>
        <td style="width: 5%">Priority</td>
        <td style="width: 10%">Start</td>
        <td style="width: 10%">End</td>
        <td style="width: 25%"></td>
      </thead>
      <tbody>
        <tr>
          <td>
            <label>{{task.Task}}</label>
          </td>
          <td>
            <label *ngIf="!task.Parent">This Task Has NO Parent</label>
            <label *ngIf="task.Parent">{{task.Parent.Parent_Task}}</label>
          </td>
          <td>{{task.Priority}}</td>
          <td>{{task.Start_Date | date:'dd-MM-yyyy'}}</td>
          <td>{{task.End_Date | date:'dd-MM-yyyy'}}</td>
          <td *ngIf="task.Status==0">
            <button type="button" class="btn btn-secondary" (click)="editTask(task.Task_ID)">Edit</button>&nbsp;
            <button type="button" class="btn btn-secondary" (click)="endTask(task.Task_ID)">End Task</button>
          </td>
          <td *ngIf="task.Status==1">Completed</td>
        </tr>
        <tr>
          <td colspan="6">
          <hr style="width: 100%;" class="hrListItem" />
        </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- <project-search (projectSelected)="onProjectSelected($event)"></project-search> -->
