<div class="modal fade" id="parentSearchModel" tabindex="-1" role="dialog" aria-labelledby="parentSearchModel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Search Parent Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <input type="text" class="form-control" placeholder="Search.." name="ParentSearch"
               (input)="searchParent($event.target.value)">
              <br>
              <div class="row">
                <div class="col-md-12 searchTable">
                  <table class="table table-striped table-hovered table-bordered" *ngIf="ParentTasks && ParentTasks.length>0">
                    <thead class="table-primary bold">
                      <tr>
                        <td></td>
                        <td>Parent Task</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let parent of ParentTasks">
                        <td><input type="radio" name="parentID" [value]="parent.Parent_ID" (change)="selectParent($event.target.value)"></td>
                        <td>{{parent.Parent_Task}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <label *ngIf="ParentTasks && ParentTasks.length==0">No Parent tasks found for search criteria.</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" [disabled]="!enableAdd" (click)="addParent()">Add</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
